[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-fswitch"]
	path = vim/bundle/vim-fswitch
	url = http://github.com/derekwyatt/vim-fswitch.git
[submodule "vim/bundle/qmake-syntax-vim"]
	path = vim/bundle/qmake-syntax-vim
	url = http://github.com/artoj/qmake-syntax-vim.git
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = http://github.com/vim-scripts/taglist.vim
[submodule "vim/bundle/vim-cscope"]
	path = vim/bundle/vim-cscope
	url = http://github.com/vim-scripts/cscope.vim
